.container {
    width: 660px;
    height: 345px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
  }
  
  .title {
    width: 373px;
    font-size: 20px;
    color: #657480;
    font-weight: 400;
  }
  
  .line {
    width: 100%;
    height: 1px;
    background-color: #657480;
    border: 1px solid #657480;
    margin: 10px 0;
  }
  
  .firstLine {
    display: flex;
    gap: 20px;
  }
  
  .firstBlock {
    width: 270px;
    height: 45px;
    border-radius: 7px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: #657480;
  }
  
  .secondBlock {
    width: 348px;
    height: 60px;
    border-radius: 7px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: #657480;
  }
  
  .value {
    font-weight: bold;
    color: #657480;
  }
  .secondLine {
    display: flex;
    gap: 20px;
  }
  
  .thirdBlock {
    width: 270px;
    height: 45px;
    border-radius: 7px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: #657480;
  }
  
  .fourthBlock {
    width: 252px;
    height: 60px;
    border-radius: 7px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-top: 10px;
    color: #657480;
  }
  
  .fifthBlock {
    width: 93px;
    height: 60px;
    border-radius: 7px;
    border: 1px solid gray;
    align-items: center;
    padding: 0 10px;
    margin-top: 10px;
    color: #657480;
  }

  .thirdLine {
    display: flex;
  }
  
  .sixthBlock {
    width: 270px;
    height: 71px;
    border-radius: 7px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 10px;
    color: #657480;
    
    .subColumns {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    
    .subColumn {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  .seventhBlock {
    width: 252px;
    height: 60px;
    border-radius: 7px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-top: 10px;
    color: #657480;
  }
  
  .eighthBlock {
    width: 93px;
    height: 60px;
    border-radius: 7px;
    border: 1px solid gray;
    align-items: center;
    padding: 0 10px;
    margin-top: 10px;
    color: #657480;
  }

  .fourthLine {
    display: flex;
    gap: 20px; 
  }
  

  .ninethBlock {
    width: 270px;
    height: 71px;
    border-radius: 7px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    color: #657480;
    
    .subColumns {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    
    .subColumn {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

.tenthBlock {
  position: relative;
  width: 183px;
  height: 55px;
  border-radius: 7px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  font-size: 15px;
  color: #657480;
}

.tenthBlock img {
  position: absolute;
  top: 5px;
  right: 5px; 
}
  
  .eleventhBlock {
    width: 162px;
    height: 55px;
    border-radius: 7px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 15px;
    color: #657480;
  }

