.container {
    width: 660px;
    height: 630px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    overflow-y: scroll;
  }
  
  .title {
    width: 373px;
    font-size: 20px;
    color: #657480;
    font-weight: 400;
  }
  
  .line {
    width: 100%;
    height: 1px;
    background-color: #657480;
    border: 1px solid #657480;
    margin: 10px 0;
  }
  .columns {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }
  
  .header {
    margin-bottom: 20px; 
    width: 140px;
    color: #657480;
  }
  
  .value {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 19px;
    color: #657480;
  }
  .firstHeader {
    font-size: 17px;
    margin-bottom: 20px;
    color: #657480;
  }

.firstColumn {
    margin-top: 20px;
    color: #657480;
}